<h1 style="text-align: center;">DANH SÁCH KHÁCH HÀNG</h1>

<div>
<table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Email</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Trạng thái</th>
      </tr>
    </thead>
    <tbody class="dskh">
      <!-- <tr>
        <th scope="row">1</th>
        <td>Hương Giang</td>
        <td>121 _ Nguyễn Viết Xuân</td>
        <td>zang@gmail.com</td>
        <td>0858328685</td>
        <td>KH thân thiết</td>
      </tr> -->
    </tbody>
  </table>
</div>