<h1 style="text-align: center;">DANH SÁCH DANH MỤC</h1>

<div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên danh mục</th>
       
      </tr>
    </thead>
    <tbody class="showdm ">
      <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
      </tr> -->
    </tbody>
  </table>
    <button type="button" class="btn btn-primary"> <a href="/admin/categories" style="color: white; text-decoration: none;">Thêm mới</a></button>
</div>