<h1 style="text-align: center;">DANH SÁCH SẢN PHẨM</h1>

<div>
<table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Sản phẩm</th>
        <th scope="col">Giá</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody class="dssp" >
      <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button type="submit" class="btn btn-primary">Sửa</button> <button type="submit" class="btn btn-primary">Xóa</button></td>
      </tr> -->
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary"><a href="/admin/products" style="color: white; text-decoration: none;">Thêm Sản Phẩm</a></button>
</div>
<div class="edit" style="border: 1px solid palevioletred; margin-top: 10px;">

  <div class="update">  </div>
</div>
