<h1 style="text-align: center;">DANH SÁCH ĐƠN HÀNG</h1>

<div>
<table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên Khách hàng</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Thành tiền</th>
        <th scope="col">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Hương Giang</td>
        <td>Kem chống nắng</td>
        <td>1</td>
        <td>150000</td>
        <td><button type="submit" class="btn btn-primary"><a href="" style="color: white; text-decoration: none;">Chi tiết</a></button></td>
      </tr>
    </tbody>
  </table>
</div>