<h1 style="text-align: center;">THÊM SẢN PHẨM</h1>
<form method="post" class="show_add_sp">
    <!-- <div class="mb-3">
      <label for="namesp" class="form-label">Tên sản phẩm</label>
      <input type="namesp" class="form-control" id="namesp">
      <label for="image" class="form-label">Hình ảnh</label>
      <input type="file" id="image" multiple required />
            <label for="price" class="form-label">Giá</label>
      <input type="price" class="form-control" id="price">
      <label for="detail" class="form-label">Mô tả</label>
      <textarea type="detail" class="form-control" id="detail" rows="5" cols="20"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Nhập</button>
    <button type="button" class="btn btn-primary"> <a href="/admin/DS_product" style="color: white; text-decoration: none;">Danh sách</a></button>
    <button type="button" class="btn btn-primary">Làm mới</button> -->
  </form>
