<div class="container_fullwidth">
  <div class="container shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">
          Shopping Cart
        </h3>
        <div class="clearfix">
        </div>
        <div class="infomation_KH">
          <form>
            <div >
              <label for="name">Tên Người Nhận:</label>
              <input type="text" id="name" name="name" style="margin-left: 20px;margin-bottom: 10px; width: 400px;">
            </div>
           <div>
            <label for="phonenumber">Số điện thoại:</label>
            <input type="text" id="phonenumber" name="phonenumber" style="margin-left: 35px;margin-bottom: 10px; width: 400px;">
           </div>
           <div>
            <label for="address">Địa Chỉ Nhận:</label>
            <input type="text" id="address" name="address" style="margin-left: 35px;margin-bottom: 10px; width: 400px;">
          </div>    
          </form>
        </div>
        <table class="shop-table">
          <thead>
            <tr>
              <th>Hình ảnh</th>
              <th>Sản phẩm</th>
              <th>Số lượng</th>
              <th>Đơn giá</th>
              <th>Xóa</th>
            </tr>
          </thead>
          <tbody class="checkoutsp">
            <!-- <tr>
              <td><img src="images/products/small/products-06.png" alt=""></td>
              <td>
                <div class="shop-details">
                  <div class="productname">
                    Lincoln Corner Unit Products
                  </div>
                </div>
              </td>
              <td> <h5>$200.00</h5></td>
              <td>
                <a href="#">
                  <img src="images/remove.png" alt="">
                </a>
              </td>
            </tr> -->
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <button class="pull-left">
                  <a href="/listProduct" style="text-decoration: none;">Continue Shopping</a>
                  
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
       
        <div class="clearfix">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6" style="float: right; margin-top: -60px;">
            <div class="shippingbox" >
              <!-- <div class="grandtotal" >
                <h5>Tổng</h5>
                <span>$1.000.00</span>
              </div>
              <button style="margin-left: 35%;">
                Thanh Toán Ngay
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>
</div>
<div class="clearfix">
</div>