<div class="hom-slider" style="background-image: linear-gradient(to right, rgb(164, 37, 164), pink);">
    <div class="container">
       <div id="sequence">
          <div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
          <div class="sequence-next"><i class="fa fa-angle-right"></i></div>
          <ul class="sequence-canvas">
             <li class="animate-in">
                <div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">COMBO HOT
                      2024</span></div>
                <div class="flat-caption caption2 formLeft delay400 text-center">
                   <h1>BỘ SỮA TẮM TRẮNG DA</h1>
                </div>
                <div class="flat-caption caption3 formLeft delay500 text-center">
                   <p>Sữa tắm hỗ trợ làm sáng da của thương hiệu Grace And Glow mang đến hương thơm sang trọng
                      được
                      lấy cảm hứng từ hương nước hoa Black Opium</p>
                </div>
                <div class="flat-button caption4 formLeft delay600 text-center"><a class="more" href="#">More
                      Details</a></div>
                <div class="flat-image formBottom delay200" data-duration="5" data-bottom="true"><img
                      src="../images/ban1.png" alt=""></div>
             </li>
             <li>
                <div class="flat-caption caption2 formLeft delay400">
                   <h1>MAKE UP NHÀ PINKFLASH</h1>
                </div>
                <div class="flat-caption caption3 formLeft delay500">
                   <p>PINKFLASH dòng OhMyKiss. Hiệu ứng lì cả ngày và son môi dưỡng ẩm: Chất son lỏng lì có sắc
                      tố
                      cao rất mịn. Không thấm nước, mềm mượt. </p>
                </div>
                <div class="flat-button caption5 formLeft delay600"><a class="more" href="#">More Details</a>
                </div>
                <div class="flat-image formBottom delay200" data-bottom="true"><img src="../images/ban2.png"
                      alt="">
                </div>
             </li>
             <li>
                <div class="flat-caption caption2 formLeft delay400 text-center">
                   <h1>TẨY TẾ BÀO CHẾT</h1>
                </div>
                <div class="flat-caption caption3 formLeft delay500 text-center">
                   <p> Tẩy Da Chết Body Làm Đều Màu Da Và Dưỡng Mịn Da Chiết Xuất Cà Phê, Đường Thốt Nốt Dak
                      Lak Cocoon Dak Lak Coffee Body Polish</p>
                </div>
                <div class="flat-button caption4 formLeft delay600 text-center"><a class="more" href="#">More
                      Details</a></div>
                <div class="flat-image formBottom delay200" data-bottom="true"><img src="../images/ban3.png"
                      alt="">
                </div>
             </li>
          </ul>
       </div>
    </div>
 </div>
 <div class="clearfix"></div>

 <div class="container_fullwidth" >
    <div class="container">
       <div class="hot-products">
          <h3 class="title"><strong>Sản Phẩm</strong> Mới</h3>
          <ul id="hot " style="height: auto;">
             <li>
                <div class="row allsp">

                </div>
             </li>
          </ul>
       </div>
       <div class="clearfix"></div>

    </div>
 </div>