
<div class="wrapper">
   <header>
      <div class="header ">
         <div class="container ">
            <div class="row fixed-top" >
               <div class="col-md-2 col-sm-2">
                  <div class="logo"><a href="index.html"><img src="images/zangbeauty.png"></a></div>
               </div>
               <div class="col-md-10 col-sm-10">
                  <div class="header_top">
                     <div class="row">
                        <div class="col-md-12">
                           <ul class="usermenu">
                              <li><a href="#" class="log">Login</a></li>
                              <li><a href="#" class="reg">Register</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="header_bottom">
                     <ul class="option">
                        <li id="search" class="search">
                           <form><input class="search-input" placeholder="Tìm kiếm ..." type="text" value=""
                                 name="search"> <input class="search-submit" type="submit" value=""></form>
                        </li>
                        <li class="option-cart">
                           <a href="#" class="cart-icon"> </a>
                           <ul class="option-cart-item show_CartHTML">
                              <!-- <li>
                                 <div class="cart-item">
                                    <div class="image"><img src="images/products/thum/products-02.png" alt=""></div>
                                    <div class="item-description">
                                       <p class="name">Lincoln chair</p>
                                    </div>
                                    <div class="right">
                                       <p class="price">$30.00</p>
                                       <a href="#" class="remove"><img src="images/remove.png" alt="remove"></a>
                                    </div>
                                 </div>
                              </li>
                              <li><span class="total">Total <strong>$60.00</strong></span><button class="checkout"
                                    onClick="location.href='/cart'">CheckOut</button>
                              </li> -->
                           </ul>
                        </li>
                     </ul>

                     <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse"
                           data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span
                              class="icon-bar"></span><span class="icon-bar"></span><span
                              class="icon-bar"></span></button></div>
                     <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                           <li class="active dropdown">
                              <a href="/" class="dropdown-toggle">Trang chủ</a>
                           </li>
                           <li><a href="#">Giới thiệu</a></li>
                           <li class="dropdown ">
                              <a href="/listProduct">Sản phẩm</a>
                              <ul class="dropdown-menu dssp " >

                              </ul>
                           </li>
                           <li><a href="/contact">Liên hệ </a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>

   <main id="app">

   </main>
   <div class="footer">
      <div class="footer-info">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <div class="footer-logo"><a href="#"><img src="images/zangbeauty.png" alt=""></a></div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <h4 class="title">Contact <strong>Info</strong></h4>
                  <p>No. 48 - Tran Van Phuong - Phu Hai - Dong Hoi - Quang Binh</p>
                  <p>Call Us : 0858328685</p>
                  <p>Email : nguyenthihuonggiang3174@gmail.com</p>
               </div>
               <div class="col-md-3 col-sm-6">
                  <h4 class="title">Follow<strong> Us</strong></h4>
                  <ul class="support">
                     <li><a href="#"><i class="fa fa-facebook"
                              style="color: white; font-size: 1.2vw; margin-right: 10px;"></i> FACEBOOK</a></li>
                     <li><a href="#"><i class="fa fa-instagram"
                              style="color: white; font-size: 1.2vw; margin-right: 10px;"></i> INSTAGRAM</a></li>
                     <li><a href="#"><i class="fa fa-twitter"
                              style="color: white; font-size: 1.2vw; margin-right: 10px;"></i> TWITTER</a></li>
                     <li><a href="#"><i class="fa fa-youtube"
                              style="color: white; font-size: 1.2vw; margin-right: 10px;"></i> YOUTUBE</a></li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <h4 class="title"> US <strong> CATEGORIES </strong></h4>
                  <p>Chăm sóc da </p>
                  <p>Chăm sóc tóc </p>
                  <p>Trang điểm </p>
                  <p>Nước hoa </p>


               </div>
            </div>
         </div>
      </div>
   </div>
</div>

